<div class="main-container">
    <h1 class="mat-display-2">Tic Tac Toe</h1>
    <div class="field d-flex justify-content-center">
        <p class="mat-display-1">Start the game on the button</p>
    </div>
    <div class="field d-flex justify-content-center">
        <button mat-raised-button color="primary" class="start-game-button"> Start Game now!</button>
    </div>

    <div class="gameboard">
        <div class="players player-one align-self-center">
            <p class="mat-body-1">PLAYER 1</p>
        </div>
        <div class="gamefield container-fluid">
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
            <div class="row">
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
                <div class="subfield col-4"></div>
            </div>
        </div>
        <div class="players player-two align-self-center">
            <p class="mat-body-2">PLAYER 2</p>
        </div>
    </div>
</div>

